parameters:
	ignoreErrors:
		-
			message: "#^Property Basket\\\\Application\\\\Model\\\\CustomerBasket\\:\\:\\$basketId is never read, only written\\.$#"
			count: 1
			path: _basket/src/Application/Model/CustomerBasket.php

		-
			message: "#^Property Basket\\\\Application\\\\Model\\\\CustomerBasket\\:\\:\\$buyerId is never read, only written\\.$#"
			count: 1
			path: _basket/src/Application/Model/CustomerBasket.php

		-
			message: "#^Property Basket\\\\Application\\\\Model\\\\CustomerBasket\\:\\:\\$items is never read, only written\\.$#"
			count: 1
			path: _basket/src/Application/Model/CustomerBasket.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: _basket/tests/Unit/Model/BasketTest.php

		-
			message: "#^Property IdentityAccess\\\\Application\\\\Model\\\\Identity\\\\User\\:\\:\\$email is never read, only written\\.$#"
			count: 1
			path: srcIam/src/Application/Model/Identity/User.php

		-
			message: "#^Property IdentityAccess\\\\Application\\\\Model\\\\Identity\\\\User\\:\\:\\$hashedPassword is never read, only written\\.$#"
			count: 1
			path: srcIam/src/Application/Model/Identity/User.php

		-
			message: "#^Property IdentityAccess\\\\Application\\\\Model\\\\Identity\\\\User\\:\\:\\$userId is never read, only written\\.$#"
			count: 1
			path: srcIam/src/Application/Model/Identity/User.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: srcIam/tests/Unit/UserIdTest.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: tests/Functional/Security/SecurityApiLoginTest.php

